@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap");

body {
  background-color: #333333;
}

#banner {
  font-family: "Zeyada", cursive;
}

#caption {
  font-family: "Press Start 2P";
}

.handwriting {
  font-family: Handlee;
}

.whatdo {
  font-family: "IBM Plex Mono", monospace;
}
